<div class="text-center mt-10 p-5 bg-primary text-white rounded" id="home-container">
  <h1>Home Page</h1>
  <p>This is a simple Application</p>
  <a class="btn btn-success btn-lg" href="">Learn more</a>
</div>
<%= link_to 'Artigos', articles_path %>
<p>

</p>
<%= link_to 'About', about_path %>
